<form class="formwidth" (ngSubmit)="onSubmit()" #myForm="ngForm">
  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput
            placeholder="First Name" id="firstname" [(ngModel)]="address.firstname"
            name="firstname">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput name="lastname"
          id="lastname" placeholder="Last Name" [(ngModel)]="address.lastname">
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <mat-form-field class="fullwidth">
      <textarea matInput placeholder="Address"
      id="address" [(ngModel)]="address.address" name="address"></textarea>
    </mat-form-field>
  </p>

  <table class="fullwidth" cellspacing="0">
    <tr>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput placeholder="City"
            id="city" name="city" [(ngModel)]="address.city">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput id="state" name="state"
            placeholder="State" [(ngModel)]="address.state">
        </mat-form-field>
      </td>
      <td>
        <mat-form-field class="fullwidth">
          <input type="text" matInput placeholder="Postal Code"
            id="postalcode" [(ngModel)]="address.postalcode"
            name="postalcode" maxlength="5" #postalcode>
          <mat-hint align="end">
            {{postalcode.value.length}} / 5
          </mat-hint>
        </mat-form-field>
      </td>
    </tr>
  </table>

  <p>
    <button type="submit" mat-raised-button>Submit</button>
  </p>
</form>
